.progress-section {
    margin-bottom: 30px;
}

.progress-section h2 {
    margin: 0 0 10px 0;
}

.progress-section p {
    margin-bottom: 15px;
}

#toggle-log-button {
    font-size: 1.1em;
    padding: 10px 15px;
}

.toggle-log-button-container {
    text-align: left;
    margin-top: 25px;
    margin-bottom: 15px;
}

.workout-log {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
}

.workout-log h3 {
    margin-top: 0;
    margin-bottom: 15px;
}